<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- ... -->
    <ion-col *ngFor="let constructor of constructors">
      <ion-card [routerLink]="['/drivers']" [queryParams]="{ constructorId: constructor.constructorId }">
        <img [src]="constructor.imageUrl" alt="{{ constructor.name }} logo"/>
        <!-- ... -->
      </ion-card>
    </ion-col>
    <!-- ... -->
  </ion-grid>
</ion-content>

