
<ion-header>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-logo">
    <img src="assets/images/F1-logo.png" alt="App Logo" /> 
  </div>
  <div class="form-container">
    <form (ngSubmit)="signup()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit">Signup</ion-button>
    </form>
  </div>
</ion-content>



