<ion-content>
  <div class="hero-section">
    <h1>Welcome to the Race Strategy Simulator</h1>
    <p>Choose an option to get started.</p>
  </div>
  <div class="centered-menu">
    <ion-button class="custom-button begin-simulation" expand="full" routerLink="/home">Begin Simulation</ion-button>
    <ion-button class="custom-button" expand="full">Previous Results</ion-button>
    <ion-button class="custom-button sign-out" expand="full" (click)="signOut()">Sign Out</ion-button>
  </div>
</ion-content>
